manifest {
  nextflowVersion = '!>=20.04.0-edge'
}

includeConfig 'target/nextflow/dimensionality_reduction/dataset/dyngen/nextflow.config'
includeConfig 'target/nextflow/dimensionality_reduction/method/pca/nextflow.config'
includeConfig 'target/nextflow/dimensionality_reduction/metric/rmse/nextflow.config'

docker {
  // runOptions = "-u \$(id -u):\$(id -g) -i -v ${baseDir}:${baseDir}"
  runOptions = "-i -v ${baseDir}:${baseDir}"
}

process {
  maxForks = 30
  container = 'ubuntu'
  errorStrategy='ignore'
}

k8s {
  pullPolicy = 'Always'
  imagePullPolicy = 'Always'
}
